<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
<div id="vue-app">
    <button @click="author.name=author.name.split('').sort(function(){return 0.5-Math.random()}).join('')">Change author name</button>
    <button @click="author.books.pop()">Remove last book</button>
    <button @click="author.books.push(`Book ISBN ${100000000 + parseInt(Math.random()*900000000)}-${parseInt(Math.random()*10)}`)">Add book</button>
    <p> {{ author.name }} has published books? </p>
    <p> {{ publishedBooksMessage }} </p>
    <p> {{ getPublishedBooksMessage() }} </p>
    <p v-if="author.books"> Books: </p>
    <ol>
        <li v-for="book in author.books">{{book}}</li>
    </ol>
</div>

<script>
    const VueApp = {
        data() {
            return {
                author: {
                    name: 'Erika Mustermann',
                    books: []
                }
            }
        },
        computed: {
            publishedBooksMessage() {
                console.log('computed publishedBooksMessage')
                return this.author.books.length > 0 ? 'Yes' : 'No'
            }
        },
        methods: {
            getPublishedBooksMessage() {
                console.log('methods getPublishedBooksMessage')
                return this.author.books.length > 0 ? 'Yes' : 'No'
            }
        }
    }

    const app = Vue.createApp(VueApp)
    const vm = app.mount('#vue-app')

</script>
</body>
</html>