<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .done {
            color: lightgray;
        }
    </style>
</head>
<body>
<div id="vue-app">
    <h3>Without key</h3>
    <todo-item v-for="todo in todos"
               :item="todo"
               @checked="markDone(todo.id)"
                :class="{done: todo.done}"></todo-item>
    <h3>With key</h3>
    <todo-item v-for="todo in todos" :key="todo.id"
               :item="todo"
               @checked="markDone(todo.id)"
               :class="{done: todo.done}"></todo-item>

    <button @click="addRandomTodo">Give me task!</button>
</div>

<script>
    let idGen = 0;
    const VueApp = {
        data() {
            return {
                todos: [
                    {
                        id: idGen++,
                        text: 'Clean kitchen',
                        done: false,
                    },
                    {
                        id: idGen++,
                        text: 'Repair bicycle',
                        done: false,
                    },
                    {
                        id: idGen++,
                        text: 'Paint walls',
                        done: false,
                    },
                ],
                todoIdeas: [
                    'Fight bad',
                    'Make a fortune',
                    'Rebuild house',
                    'Fix roof',
                    'Clean toilet',
                    'Fix pipes',
                    'Get famous',
                    'Have a concert',
                    'Learn to fly',
                    'Destroy all mosquitoes',
                    'Make a pie',
                    'Make a cake',
                    'Cook a soup',
                    'Conquer a country',
                    'Call mom'
                ]
            }
        },
        methods: {
            addRandomTodo() {
                this.todos.unshift({id: idGen++, text: this.todoIdeas[Math.floor(Math.random()*this.todoIdeas.length)]})
            },
            markDone(id) {
                var index = this.todos.map(x => {
                    return x.id;
                }).indexOf(id);

                this.todos[index].done = !this.todos[index].done;
            }
        }
    }

    const app = Vue.createApp(VueApp)

    app.component('todo-item', {
        props: ['item'],
        data() {
            return {
                isChecked: false
            }
        },
        watch: {
            isChecked(newV, oldV) {
                if(newV !== oldV) {
                    this.$emit('checked')
                }
            }
        },
        template: `
          <div>
          <input type="checkbox" :id="item.id" v-model="isChecked">
          <label :for="item.id">{{ item.text }}</label>
          </div>
        `
    })


    app.mount('#vue-app')
</script>
</body>
</html>